<div class="app" layout-fill>
    <div class="loading" ng-if="$root.loading">
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
    </div>

    <md-nav-bar
            md-no-ink-bar="disableInkBar"
            md-selected-nav-item="$root.currentState"
            nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-sref="root" name="root">
            Root
        </md-nav-item>

        <md-nav-item md-nav-sref="root.login" name="root.login" ng-disabled="$root.userData">
            Login
        </md-nav-item>

        <md-nav-item md-nav-sref="root.error" name="root.error">
            Error Page
        </md-nav-item>
    </md-nav-bar>

    <md-button ng-if="$root.userData" class="md-primary md-raised" ng-click="$ctrl.logout();">Logout</md-button>

    <ui-view></ui-view>
</div>
