<div class="app" layout-fill>
    <div class="loading" ng-if="$root.loading">
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
    </div>

    <md-nav-bar
            md-selected-nav-item="$root.currentState"
            nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-sref="root" name="root">
            Root
        </md-nav-item>

        <md-nav-item md-nav-sref="root.home" name="root.home">
            Home
        </md-nav-item>

        <md-nav-item md-nav-sref="root.about" name="root.about">
            About
        </md-nav-item>
    </md-nav-bar>

    <md-button class="md-primary md-raised" ng-click="$ctrl.logout();">Logout</md-button>
    <md-button class="md-primary md-hue-1 md-raised" ng-click="$ctrl.logout();">Logout</md-button>
    <md-button class="md-primary md-hue-2 md-raised" ng-click="$ctrl.logout();">Logout</md-button>

    <md-icon><i class="material-icons">face</i></md-icon>


    <ui-view></ui-view>
</div>
