<div class="app" layout-fill>
    <div layout="row" layout-fill>
        <div flex class="left-menu">
            <ul>
                <li ng-repeat="route in $root.routes track by route.name"
                    ng-if="route.showInMenu"
                    ng-click="$ctrl.openModule(route);">
                    {{route.name}}
                </li>
            </ul>
        </div>

        <div flex class="content">
            <div class="loading" ng-if="$root.loading">
                <md-progress-linear md-mode="query"></md-progress-linear>
            </div>

            <md-nav-bar
                    md-selected-nav-item="$root.currentState"
                    nav-bar-aria-label="navigation links">

                <md-nav-item ng-repeat="module in $root.openedModules"
                             md-nav-sref="{{module.name}}"
                             name="{{module.name}}">
                    {{module.name}}
                </md-nav-item>
            </md-nav-bar>

            <md-button class="md-primary md-raised" ng-click="$ctrl.logout();">Logout</md-button>
            <md-button class="md-primary md-hue-1 md-raised" ng-click="$ctrl.logout();">Logout</md-button>
            <md-button class="md-primary md-hue-2 md-raised" ng-click="$ctrl.logout();">Logout</md-button>

            <md-icon><i class="material-icons">face</i></md-icon>

            <div layout-padding>
                <ui-view></ui-view>
            </div>
        </div>
    </div>

</div>
